* {
  font-family: 'Cabin', sans-serif;
}

.main-color {
  background-color: #fff8e1;
  color: #f47e3e;
}

a {
  color: #c14b0b;
}

a:hover {
  color: #f47e3e;
  text-decoration: none;
}

.responsive-bg {
  width: 100%;
  min-height: 200px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.navbar {
  border-bottom: 2px solid #f47e3e;
}
.navbar-brand img {
  width: 100px;
}

.carousel-item {
  height: 100vh;
}

.carousel-item h4,
.carousel-item h2 {
  color: #f47e3e;
}

#services,
#about {
  padding: 150px;
}

#services h1 {
  margin-bottom: 50px;
}

.service-content {
  background: #fff8e1;
  padding: 20px;
  color: #777;
  border: 2px solid #f47e3e;
  border-top: 0;
  height: 200px;
  position: relative;
}

.service-content p {
  max-height: 100px;
  overflow: hidden;
}

.service-content a {
  position: absolute;
  bottom: 20px;
}

.form-control {
  border: 1px solid #f47e3e;
}

#about {
  background-attachment: fixed;
  color: #fff;
}

#contact {
  padding-top: 150px;
  padding-bottom: 150px;
}

#contact,
#contact .col:first-child {
  padding-left: 0;
}

#contact .form-control {
  border-radius: 0;
}

.form-control:focus,
.btn:focus {
  border-color: #f47e3e;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(244,126,62,0.15);
}

.form-control:focus {
  color: #495057;
  background-color: #fff8e1;
}

.send-btn {
  border-radius: 0;
  border: none;
  background-color: #f47e3e;
  color: #fff;
}

#map {
  height: 400px;
  width: 100%;
  background: #f1f1f1;
}